<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjout <%= @admin.first_name %> !</h1>
    <p>
     Tu as un nouveau participent à ton événement <%= @attendance.event.title %> qui à lieu le <%= @attendance.event.start_date.strftime("%d/%m/%Y") %>.
    </p>
    <p>
      Le participant est <%= @attendance.user.first_name %>.
    </p>
    <p> Merci d'utiliser notre site
  </body>
</html>
